@charset "utf-8";
@import "_var", "_mixin";



article + article {
    padding : 0px 15px;
}
.main-cnt1 {
    .col-white {
        position : absolute;
        left : 20px;
        top : 50%;
        margin-top : -20px;
        z-index : 100;
        color : #fff;
        text-shadow : 1px 1px 2px #000;
    }
    .swiper-wrapper {
        // height : 220px;
        .swiper-slide {
            height : 100%;
            a {
                display : block;
                height : 100%;
            }
            img {
                width : 100%;
            }
        }
    }
}
.main-cnt2 {
    #festivalArea {
        text-align : center;
        .festival-thumbnail ul li {
            position : relative;
            float : left;
            width : calc(50% - 5px);
            a {
                display : block;
                img {
                    width : 100%;
                }
            }
        }
        .festival-thumbnail ul li:nth-child(even) {
            margin-left : 10px;
        }
    }
}
.main-cnt3 {
    > div .detail-icon {
        position : absolute;
        right : 10px;
        top : 0px;
        width : 70px;
        height : 24px;
        background : $mainColor;
        color : #fff;
    }
    #helpIconWrap{
        margin : 0px auto;
    }
    .help-icon {
        overflow : hidden;
        ul {
            @include transition(height 0.5s);
            width : 528px;
            height : 107px;
            overflow : hidden;
            text-align : center;
            li {
                float : left;
                width : 82px;
                background : #f5f5f5;
                margin-left : 6px;
                margin-top : 5px;
                a {
                    width : 82px;
                }
            }
        }
    }
    .help-icon-btn {
        button {
            position : absolute;
            top : 16px;
            &:nth-child(1) {
                left : -50px;
            }
            &:nth-child(2) {
                right : -50px;
            }
        }

    }
    .help-icon-paging {
        text-align : center;
        margin-top : 10px;
    }
}
#notice {
    margin-top : 19px;
    height : 70px;
    background : $mainColor;
    color : #fff;
    h4, p {
        padding : 8px;
    }
    h4 {
        padding-bottom : 0px;
    }
    p {
        letter-spacing : -0.5px;
        font-size : 11px;
    }
    a {
        display : block;
        position : absolute;
        right : 0px;
        top : calc(50% - 25px);
        width : 50px;
        height : 50px;
        &::after, &::before {
            content : "";
            display : block;
            position : absolute;
            background : #fff;
        }
        &::after {
            width : 4px;
            height : 30px;
            right : 23px;
            top : 9px;
        }
        &::before {
            right : 10px;
            top : 21px;
            width : 30px;
            height : 4px;
        }
    }
    
}

// best.html

.sub-main-cnt1 {
    a img {
        @include transition(all 0.5s);
    }
    a:hover img {
        @include transform(scale(1.2));
    }
    .swiper-slide {
        a img {
            width : 100%;
        }
        p {
            position : absolute;
            display : block;
            left : 0px;
            bottom : 0px;
            width : 100%;
            height : 44px;
            line-height : 44px;
            text-indent : 50px;
            background : rgba(0,0,0,0.5);
            color : #fff;
        }
    
    } 
    .swiper-button-prev,
    .swiper-button-next {
        position : absolute;
        top : calc(100% - 22px);
    }
    .swiper-button-prev {
        left : 0px;
    }
    .swiper-button-next {
        right : 0px;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display : block;
        width : 1px;
        height : 1px;
        overflow : hidden;
        padding-top : 10px;
    }
}

// best-detail
h3.sr-only +img {
    width : 100%;
}
.explain {
    padding : 0px 15px;
    p {
        padding : 15px 0px;
    }
    .explain-btn-wrap {
        position : relative;
        margin-bottom : 50px;
        button {
            position : absolute;
            top : 8px;
            background : $mainColor;
            color : #fff;
            font-size : 11px;
            width : 68px;
            height : 22px;
        }
        button:first-child {
            
            right : 78px;
        }
        button:last-child {
            right : 0px;
        }
    }
    .detail-explain {
        position : relative;
        display : none;
        li {
            margin-bottom : 20px;
            img, p {
                @include transition(all 0.5s);
                opacity : 0;
            }
            img {
                @include transform(translateX(70px));
                width : 100%;
            }
            p {
                @include transform(translateX(-70px));
                padding : 15px 15px;
            }
        }
        li.active img,
        li.active p {
            @include transform(translateX(0px));
            opacity : 1;
        }
        .btn-back {
            position : absolute;
            bottom : -22px;
            right : 0px;
            background : $mainColor;
            color : #fff;
            font-size : 11px;
            width : 68px;
            height : 22px;
        }
    }
}

// festival 
.open-btn {
    width : 100%;
    img:first-child {
        width : 100%;
    }
}
.sub2-btn-back {
    position : relative;
    left : 100%;
    background : $mainColor;
    color : #fff;
    font-size : 11px;
    width : 68px;
    height : 22px;
    margin : 15px 0px 0px -83px;
}
.modal-zoom {
    position : absolute;
    right : 10px;
    bottom : 10px;   
}
.festival-explain {
    p {
        font-size : 13px;
        padding-left : 15px;
    }
    p:first-child {
        padding-top : 12px;
    }
}

.modal-common {
    visibility : hidden;
    position : fixed;
    z-index : 699;
    background : #fff;
    margin-top : 25px;
}
#modal {
    width : 100%;
    .modal-slider {
        overflow : hidden;
        ul {
            li {
                float : left;
                img {
                    width : 100%;
                }
            }
        }
        .modal-slider-btn {
            position : absolute;
            width : 100%;
            height : 50px;
            background : rgba(0,0,0,0.2);
            bottom : 0px;
            button {
                position : absolute;
            }
            button:first-child {
                left : 0px;
            }
            button:last-child {
                right : 0px;
            }
        }
    }
    .modal-img {
        width : 100%;
    }
    p,strong {
        padding-left : 15px;
    }
    p:nth-of-type(1) {
        padding-top : 12px;
    }
    .close-btn {
        width : 100%;
        height : 5vh;
        color : #fff;
        background : $mainColor;
        margin-top : 15px;
    }
}