article + article {
  padding: 0px 15px; }

.main-cnt1 .col-white {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -20px;
  z-index: 100;
  color: #fff;
  text-shadow: 1px 1px 2px #000; }
.main-cnt1 .swiper-wrapper {
  height: 220px; }
  .main-cnt1 .swiper-wrapper .swiper-slide {
    height: 100%; }
    .main-cnt1 .swiper-wrapper .swiper-slide a {
      display: block;
      height: 100%; }

.main-cnt2 #festivalArea {
  text-align: center; }
  .main-cnt2 #festivalArea .festival-thumbnail ul li {
    float: left;
    width: calc(50% - 5px); }
    .main-cnt2 #festivalArea .festival-thumbnail ul li a {
      display: block; }
      .main-cnt2 #festivalArea .festival-thumbnail ul li a img {
        width: 100%; }
  .main-cnt2 #festivalArea .festival-thumbnail ul li:nth-child(even) {
    margin-left: 10px; }

.main-cnt3 > div .detail-icon {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 70px;
  height: 24px;
  background: #2a7fb8;
  color: #fff; }
.main-cnt3 #helpIconWrap {
  margin: 0px auto; }
.main-cnt3 .help-icon {
  overflow: hidden; }
  .main-cnt3 .help-icon ul {
    -webkit-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
    width: 528px;
    height: 107px;
    text-align: center; }
    .main-cnt3 .help-icon ul li {
      float: left;
      width: 82px;
      background: #f5f5f5;
      margin-left: 6px;
      margin-top: 5px; }
      .main-cnt3 .help-icon ul li a {
        width: 82px; }
.main-cnt3 .help-icon-btn button {
  position: absolute;
  top: 16px; }
  .main-cnt3 .help-icon-btn button:nth-child(1) {
    left: -50px; }
  .main-cnt3 .help-icon-btn button:nth-child(2) {
    right: -50px; }
.main-cnt3 .help-icon-paging {
  text-align: center;
  margin-top: 10px; }

#notice {
  margin-top: 19px;
  height: 70px;
  background: #2a7fb8;
  color: #fff; }
  #notice h4, #notice p {
    padding: 8px; }
  #notice h4 {
    padding-bottom: 0px; }
  #notice p {
    letter-spacing: -0.5px;
    font-size: 11px; }
  #notice a {
    display: block;
    position: absolute;
    right: 0px;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px; }
    #notice a::after, #notice a::before {
      content: "";
      display: block;
      position: absolute;
      background: #fff; }
    #notice a::after {
      width: 4px;
      height: 30px;
      right: 23px;
      top: 9px; }
    #notice a::before {
      right: 10px;
      top: 21px;
      width: 30px;
      height: 4px; }

.sub-main-cnt1 a img {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
.sub-main-cnt1 a:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }
.sub-main-cnt1 .swiper-slide p {
  position: absolute;
  display: block;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-indent: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff; }
.sub-main-cnt1 .swiper-button-prev,
.sub-main-cnt1 .swiper-button-next {
  position: absolute;
  top: calc(100% - 22px); }
.sub-main-cnt1 .swiper-button-prev {
  left: 0px; }
.sub-main-cnt1 .swiper-button-next {
  right: 0px; }
.sub-main-cnt1 .swiper-button-prev::after,
.sub-main-cnt1 .swiper-button-next::after {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding-top: 10px; }

.explain {
  padding: 0px 15px; }
  .explain p {
    padding: 15px 0px; }
  .explain .explain-btn-wrap {
    position: relative;
    margin-bottom: 50px; }
    .explain .explain-btn-wrap button {
      position: absolute;
      top: 8px;
      background: #2a7fb8;
      color: #fff;
      font-size: 11px;
      width: 68px;
      height: 22px; }
    .explain .explain-btn-wrap button:first-child {
      right: 78px; }
    .explain .explain-btn-wrap button:last-child {
      right: 0px; }
  .explain .detail-explain {
    position: relative;
    display: none; }
    .explain .detail-explain li {
      margin-bottom: 20px; }
      .explain .detail-explain li img, .explain .detail-explain li p {
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        opacity: 0; }
      .explain .detail-explain li img {
        -webkit-transform: translateX(70px);
        transform: translateX(70px); }
      .explain .detail-explain li p {
        -webkit-transform: translateX(-70px);
        transform: translateX(-70px);
        padding: 15px 15px; }
    .explain .detail-explain li.active img,
    .explain .detail-explain li.active p {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1; }
    .explain .detail-explain .btn-back {
      position: absolute;
      bottom: -22px;
      right: 0px;
      background: #2a7fb8;
      color: #fff;
      font-size: 11px;
      width: 68px;
      height: 22px; }

.festival-explain p {
  font-size: 13px;
  padding-left: 15px; }
.festival-explain p:first-child {
  padding-top: 12px; }

.modal-common {
  visibility: hidden;
  position: fixed;
  z-index: 699;
  background: #fff;
  margin-top: 30px; }

#modal p, #modal strong {
  padding-left: 15px; }
#modal p:nth-of-type(1) {
  padding-top: 12px; }
#modal .close-btn {
  width: 100%;
  height: 5vh;
  color: #fff;
  background: #2a7fb8;
  margin-top: 15px; }

/*# sourceMappingURL=style.css.map */
